:root {
  --admin_default: #ffffff;
  --admin_default_alt: #d9d9d9;
  --admin_default_darker: #c1c9d2;
  --admin_gray: #999;
  --admin_success: #28a745;
  --admin_warning: #eca74c;
  --admin_error: #f37171;
  --admin_accent_alt: #d1f6fd;
  --admin_primary_alt: #d1bfea;

  --main_background: #e6e6e6;
  --main_color: #f6c442;
  --main_font: #404040;
  --main_gray: #9f9f9f;

  --menu_background: #3f5289;
  --menu_font: #a5b3e3;
  --content_background: #f1f1f1;
  --btn_primary: #3f5289;
  --table_background: #ececec;
  --sidvan_background: #d4ddfd;
  --tab_header_background: #e1e5ef;
  --tab_header_font: #405189;
}
