<div class="table-container">
  <table mat-table [dataSource]="weatherService.weatherDataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ "Name" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>{{ "Country" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.sys.country }}
      </td>
    </ng-container>

    <ng-container matColumnDef="temp">
      <th mat-header-cell *matHeaderCellDef>{{ "Temperature" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{ element.temp }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef>
        {{ "Humidity" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.main.humidity }}
      </td>
    </ng-container>

    <ng-container matColumnDef="weatherCondition">
      <th mat-header-cell *matHeaderCellDef>
        {{ "Weather_Condition" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.weather[0].description }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
