@font-face {
  font-family: "Nunito-Regular";
  src: url("../../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "Nunito-bold";
  src: url("../../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
