.logo-container {
  width: 100%;
}

.toolbar {
  background-color: var(--menu_background);
  padding: 0.5rem;
  color: var(--menu_font);
}

.logo {
  margin-left: 1rem;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.toolbar-flex {
  flex: 1 0.5 auto;
}

.navbar-item {
  margin: auto 1rem;
  cursor: pointer;
  font-size: 16px;
}

.navbar-item:hover {
  color: var(--admin_default);
}

.img-language {
  width: 22px;
  height: 22px;
  border-radius: 5px;
}

.language {
  margin-top: 10px;
}

.language-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
