.field {
  width: 90%;
  position: relative;
  margin: auto;
}

.error {
  color: var(--admin_error);
}

.prefix,
.profix,
.none {
  position: relative;
}

.prefix::before {
  content: "";
  height: 56px;
  width: 5px;
  position: absolute;
  background-color: var(--admin_error);
  left: 1px;
  top: 0px;
  border-radius: 5px 0 0 5px;
}

.profix::before {
  content: "";
  height: 56px;
  width: 5px;
  position: absolute;
  background-color: var(--admin_success);
  left: 1px;
  top: 0px;
  border-radius: 5px 0 0 5px;
}

.none::before {
  content: "";
  height: 55px;
  width: 5px;
  position: absolute;
  background-color: inherit;
  left: 1px;
  top: 5px;
  border-radius: 5px 0 0 5px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.search {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -10px;
  top: 10px;
  cursor: pointer;
}

.grid {
  width: 90%;
  margin: auto;
}

.title {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--menu_background);
}

.content {
  color: #9370db;
}

.name {
  color: #6e0940;
}

.data{
  width: 90%;
  margin: auto;
}

.condition {
  width: 100px;
}

.box{
  width: 100%;
  padding: 0 1rem 1rem;
  background-color: #fefefe;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #6f84a5 0%, #8db4f4 108%);
  transform: translate3d(0px, 0px, 0) scale(1);
  filter: blur(10px);
  opacity: var(0.5);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

